*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: 0;
}
header, main, footer{
    width: 80%;
    margin: 10px auto 10px auto;
    background-color: #FFA726;
}
main{
    height: auto;
}
header{
    height: 60px;

}
footer{
    height: auto;
}
.ajusteTamanho{
    height: 40vh;
    background-color: lawngreen;
}
.content-card > div, footer > div{
    width: 48%;
    height: 200px;
    background-color: lightcoral;
}
.flex{
    display: flex;
}
.space-btw{
    justify-content: space-between;
}
section{
    margin: 10px 0 10px 0;
}