*{
    margin: 0;
    padding: 0;
    border: 0;
}
div#exercício17{
    width: 100px;
    height: 100px;
    background-color: #ce3266;
    position: absolute;
    bottom: 0;
    right: 0;
}